* {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: "font";
  src: url(/assets/fonts/Raleway-VariableFont_wght.ttf);
}
body {
  background-color: #fff;
}

.maxw {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  column-gap: 30px;
}

header {
  width: 100%;
  display: flex;
}

.nav {
  display: flex;
}

ul {
  margin-top: 65px;
  padding-left: 827px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

li {
  text-decoration: none;
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
  color: white;
  font-family: "font";
  display: flex;
}

.logo {
  margin-top: 45px;
}

.contact-button {
  background: #a68051;
  box-shadow: 6px 57px 23px rgba(166, 128, 81, 0.04),
    3px 32px 20px rgba(166, 128, 81, 0.13),
    2px 14px 14px rgba(166, 128, 81, 0.21), 0px 4px 8px rgba(166, 128, 81, 0.25),
    0px 0px 0px rgba(166, 128, 81, 0.25);
  display: flex;
  order: 2;
  flex-grow: 0;
  color: white;
  padding: 20px 48px;
  border: none;
  font-family: "font";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  letter-spacing: 0.24em;
  margin-top: -15px;
}

.contact-button:hover {
  background: #0d2a3d;
  border: 1px solid #a68051;
  transition: all 0.35s ease;
  color: #a68051;
}

.left {
  margin-top: 229px;
  grid-column: span 6;
}

.left h1 {
  margin-top: 54px;
  font-family: "font";
  font-size: 80px;
  color: #0d2a3d;
}

.left p:first-of-type {
  margin-top: 32px;
  font-family: "font";
  color: #0d2a3d;
  font-size: 40px;
}

.left p:last-of-type {
  margin-top: 32px;
  font-family: "font";
  color: #a68051;
  font-size: 20px;
}

.background {
  height: 100vh;
  background: linear-gradient(to right, #fff 50%, #0d2a3d 50%);
  width: 100%;
}
.right {
  grid-column: span 6;
  margin-top: 16px;
}
.social-icons {
  margin-top: 30px;
  gap: 20px;
  display: flex;
}
.button button {
  background: #a68051;
  box-shadow: 6px 57px 23px rgba(166, 128, 81, 0.04),
    3px 32px 20px rgba(166, 128, 81, 0.13),
    2px 14px 14px rgba(166, 128, 81, 0.21), 0px 4px 8px rgba(166, 128, 81, 0.25),
    0px 0px 0px rgba(166, 128, 81, 0.25);
  flex: none;
  order: 2;
  flex-grow: 0;
  color: white;
  padding: 20px 48px;
  border: none;
  font-family: "font";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  letter-spacing: 0.24em;
  margin-top: 32px;
}
.button button:hover {
  background: #fff;
  border: 1px solid #a68051;
  transition: all 0.35s ease;
  color: #a68051;
}
section {
  height: 100vh;
}
.container2 {
  background-color: #fff;
}
.second-right {
  grid-column: span 6;
  margin-top: 180px;
  padding-left: 100px;
}
.second-left {
  grid-column: span 6;
  margin-top: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  align-items: center;
}
.second-left img {
  box-shadow: 6px 57px 23px rgba(166, 128, 81, 0.04),
    3px 32px 20px rgba(166, 128, 81, 0.13),
    2px 14px 14px rgba(166, 128, 81, 0.21), 0px 4px 8px rgba(166, 128, 81, 0.25),
    0px 0px 0px rgba(166, 128, 81, 0.25);
}
.second-right {
  text-align: center;
}
.second-right h3 {
  font-size: 22px;
  font-family: "font";
  color: #0d2a3d;
  letter-spacing: 0.1em;
}
.second-right h1 {
  font-size: 54px;
  font-family: "font";
  margin-top: 26px;
  color: #0d2a3d;
  letter-spacing: 0.1em;
}
.second-right p {
  font-size: 20px;
  font-family: "font";
  color: #a68051;
  letter-spacing: 0.1em;
  margin-top: 26px;
  margin-bottom: 26px;
}
.second-right span {
  font-size: 20px;
  font-family: "font";
  color: #0d2a3d;
  letter-spacing: 0.1em;
}
.second-bottom {
  display: flex;
  grid-column: span 12;
  margin-top: 30px;
  height: 150px;
}
.second-bottom-left {
  grid-column: span 4;
  border: 1px solid #a68051;
  width: 300px;
  height: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  align-items: center;
}
.second-bottom-middle {
  grid-column: span 4;
  border: 1px solid #a68051;
  width: 300px;
  height: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  align-items: center;
}
.second-bottom-right {
  grid-column: span 4;
  border: 1px solid #a68051;
  width: 300px;
  height: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  align-items: center;
}
h5 {
  margin-bottom: 15px;
  font-size: 15px;
  letter-spacing: 0.1em;
  font-family: "font";
  color: #0d2a3d;
}
.container3 {
  background-color: #0d2a3d;
}
.third-left {
  grid-column: span 12;
  margin-top: 100px;
  text-align: center;
}
.third-left h3 {
  font-size: 22px;
  font-family: "font";
  color: #fff;
  letter-spacing: 0.1em;
}
.third-left h1 {
  font-size: 54px;
  font-family: "font";
  margin-top: 26px;
  margin-bottom: 26px;
  color: #fff;
  letter-spacing: 0.1em;
}
.third-left span {
  font-size: 20px;
  font-family: "font";
  color: #a68051;
  letter-spacing: 0.1em;
}
.third-bottom {
  display: flex;
  margin-top: 60px;
  grid-column: span 12;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.third-bottom-left-1,
.third-bottom-left-2,
.third-bottom-right-1,
.third-bottom-right-2 {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  align-items: center;
  border: 1px solid #a68051;
  background-color: #0a273b;
  height: 250px;
  width: 550px;
  box-shadow: 0px 0px 20px rgba(166, 128, 81, 0.25);
}
.third-bottom-left-1 {
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.third-bottom-left-2 {
  margin-top: 20px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.third-bottom-right-1 {
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.third-bottom-right-2 {
  margin-top: 20px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
h4 {
  margin-bottom: 30px;
  color: #fff;
  font-family: "font";
}
.third-bottom-right-2 h4 {
  margin-left: -8px;
}
.third-bottom-left :hover {
  background: #a68051;
  transition: all 0.35s ease;
}
.third-bottom-right :hover {
  background: #a68051;
  transition: all 0.35s ease;
}
.fourth-top {
  text-align: center;
  grid-column: span 12;
}
.fourth-top h3 {
  font-size: 22px;
  font-family: "font";
  color: #0d2a3d;
  letter-spacing: 0.1em;
}
.fourth-top h1 {
  font-size: 54px;
  font-family: "font";
  margin-top: 26px;
  color: #0d2a3d;
  letter-spacing: 0.1em;
}
